# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Studia\Studia_magisterskie\I_Semestr\Algorytmy genetyczne i sztuczne sieci neronowe\Lab\pso-gui\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
